{% extends "base.html" %}

{% block include_meta %}
<meta name="Description" content="{{ description }}">
{% endblock %}

{% block content %}
{{ content | safe }}

{% if recommendations %}
<hr />
<h3>更多文章</h3>

<ul class="list-group ml-4">
    {% for title, date, filename, path in recommendations %}
    <li>{{ date.strftime("%Y/%m/%d") }} - <a href="/{{ path }}/{{filename}}.html">{{ title }}</a></li>
    {% endfor %}
</ul>
<hr />
{% endif %}

<div id="disqus_thread"></div>
<script>
/**
*  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
 *  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables*/
/*
    var disqus_config = function () {
    this.page.url = PAGE_URL;  // Replace PAGE_URL with your page's canonical URL variable
    this.page.identifier = PAGE_IDENTIFIER; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
    };
 */
(function() { // DON'T EDIT BELOW THIS LINE
var d = document, s = d.createElement('script');
s.src = 'https://blog-fhukwbah7t.disqus.com/embed.js';
s.setAttribute('data-timestamp', +new Date());
(d.head || d.body).appendChild(s);
})();
</script>
{% endblock %}

{% block include_js %}
<link rel="stylesheet" type="text/css" href="/static/styles.min.css" />
{% endblock %}
