{% extends "base.html" %}

{% block content %}
<h1>分享</h1>

<p>这里是我在平时阅读到的好书、好资料，我把他们都放在此处，也算是我自己的一个收藏夹。所有的这些都是我自己阅读完了，认为质量很不错，对成长有帮助的文章，希望他们也能给你带来成长 :)</p>

<ul class="list-group list-group-flush">
    {% for issue in issues %}
    <li class="list-group-item">
        <div class="row">
            <a id={{ issue.id }} href="#{{ issue.id }}">#{{ issue.id }}&nbsp;->&nbsp;</a><a href="{{ issue.url }}">{{ issue.content }}</a>
        </div>
    </li>
    {% endfor %}
    {% if not show_all %}
    <li class="list-group-item"><a href="/sharing/all">查看全部</a></li>
    {% endif %}
</ul>

<div id="disqus_thread"></div>
<script>
/**
*  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
 *  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables*/
/*
    var disqus_config = function () {
    this.page.url = PAGE_URL;  // Replace PAGE_URL with your page's canonical URL variable
    this.page.identifier = PAGE_IDENTIFIER; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
    };
 */
(function() { // DON'T EDIT BELOW THIS LINE
var d = document, s = d.createElement('script');
s.src = 'https://blog-fhukwbah7t.disqus.com/embed.js';
s.setAttribute('data-timestamp', +new Date());
(d.head || d.body).appendChild(s);
})();
</script>
{% endblock %}
